<table style="position:relative;">
    <tr>
        <td>
            <h1 style="padding: 10px;">Corona Chat</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div class="chat-container">
                <mat-list role="list">
                    <div *ngFor="let chat of chatHistory">
                        <mat-list-item role="listitem" [class.myMessage]="chat.isMine"
                            [class.notMyMessage]="!chat.isMine">
                            {{chat.message}}
                        </mat-list-item>
                    </div>

                </mat-list>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <form [formGroup]="chatForm" novalidate>
                <mat-form-field appearance="outline" class="chat-form" (keyup.enter)="submit()">
                    <mat-label>Ask anything!</mat-label>
                    <input matInput formControlName="message">
                </mat-form-field>

            </form>

        </td>
    </tr>
</table>