.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 10%;
}

.imagebackground {
    background-color: rgb(6, 33, 121);
}

.w3-tag{
    background-color: rgb(6, 33, 121);
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}

p {
    text-align: justify;
    text-justify: inter-word;
  }