<form [formGroup]="loginForm" novalidate>
    <mat-card class="loginCard">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>Please enter your login credentials</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Username" formControlName="username" />
                    </mat-form-field>
                </div>
            </div>
            <mat-error *ngIf></mat-error>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Password" formControlName="username" type="password" />
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
            <a href="/registration">
                <button mat-raised-button>Register</button>
            </a>
        </mat-card-actions>
    </mat-card>
</form>