<div class="row">
    <div class="col">
        <mat-card *ngFor="let profile of profiles" class="profile-card">
            <mat-card-header>
                <mat-card-title>{{profile.name}}</mat-card-title>
                <mat-card-subtitle>{{profile.role}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <table>
                    <tr>
                        <td>
                            <img [src]="profile.profilePict" class="profile-image" *ngIf="profile.profilePict" />
                        </td>
                        <td style="padding-left:20px;white-space: pre-wrap;">
                            {{profile.description}}
                        </td>
                    </tr>
                </table>
            </mat-card-content>
            <mat-card-actions *ngIf="profile.links">
                <a [href]="link.link" *ngFor='let link of profile.links' style="padding-left:10px;" target="_blank">
                    <button mat-raised-button color="primary">{{link.name}}</button>
                </a>
                <span class="button-separator"></span>
            </mat-card-actions>
        </mat-card>
    </div>
</div>