<mat-toolbar color="primary">
  <a routerLink="/">
    <button mat-flat-button color="primary">
      Home
    </button>
  </a>
  <span class="button-separator"></span>
  <a routerLink="/about">
    <button mat-flat-button color="primary">
      About
    </button>
  </a>
  <span class="button-separator"></span>
  <a routerLink="/coronatracker">
    <button mat-flat-button color="primary">
      CoronaTracker
    </button>
  </a>
  <span class="button-separator"></span>
  <a routerLink="/registration">
    <button mat-flat-button color="primary">
      Registration
    </button>
  </a>
  <span class="button-separator"></span>
  <a routerLink="/login">
    <button mat-flat-button color="primary">
      Login
    </button>
  </a>
  <a href="https://github.com/kwongtn/UTeM-WebDevAssignment" class='github-link' target="_blank">
    <button mat-flat-button color="primary" style="margin-right:20px;">
      <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg" />
      <span style="margin-left: 10px;">
        GitHub
      </span>
    </button>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>