.button-separator {
  width: 10px;
}

.github-link {
  position: absolute;
  right: 0px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
