<mat-toolbar color="primary">
  <a routerLink="/">
    <button mat-flat-button color="primary">
      Home
    </button>
  </a>
  <span class="button-separator"></span>
  <a routerLink="/about">
    <button mat-flat-button color="primary">
      About
    </button>
  </a>
  <span class="button-separator"></span>
  <a routerLink="/registration">
    <button mat-flat-button color="primary">
      Registration
    </button>
  </a>
  <span class="button-separator"></span>
  <a routerLink="/login">
    <button mat-flat-button color="primary">
      Login
    </button>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>
