<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" *ngIf="!formLoading">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('email')">
              Please enter a valid email address.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" type="password" #password>
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Retype password" formControlName="password2" type="password" #password2>
            <mat-error *ngIf="form.controls['password2'].hasError('required')">
              Password retyping is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.value != password2.value">
              Passwords do not match.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Address" formControlName="address">
            <mat-error *ngIf="form.controls['address'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Area" formControlName="area">
              <mat-option *ngFor="let area of areas" [value]="area">
                {{area}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['area'].hasError('required')">
              Area is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="!additionalNotes">
        <div class="col">
          <button mat-button type="button" (click)="additionalNotes = !additionalNotes">
            + Add Additional Notes
          </button>
        </div>
      </div>
      <div class="row" *ngIf="additionalNotes">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Additional Notes" formControlName="notes"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="formError">
        <mat-error>Please fix the errors as mentioned above before continuing.</mat-error>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button type="reset" onclick="clearEntries()">Clear</button>
    </mat-card-actions>
  </mat-card>
</form>